.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.imgg{
    height: 300px;
    width: 300px;
}

button {
    height: auto;
    width: 110px; 
    align-items: center
}