<div class="card shadow-sm">
    <img class="imgg center" [src]="imageUrl"/>
    <div class="card-body">
      <span class="center">
      <p class="card-text">
        <strong>{{ roomItem.cost | currency:'PLN' }}</strong>
        <!-- <i *ngIf="!addedToWishlist" class="far fa-heart float-right" (click)="handleAddToWishlist()"></i> -->
      </p>
      <p class="card-text">{{ roomItem.name | slice: 0:80 }}</p>
      <p class="card-text">{{ roomItem.description | slice: 0:80 }}</p>
     </span>
     <br>
      <div class="row center"> 
          <button mat-raised-button color="primary" class="btn btn-sm btn-primary product-btn" (click)="handleBooking()">Zarezerwuj</button>
          <button mat-raised-button type="button" class="btn btn-sm btn-outline-secondary product-btn" (click)="openDialog()">Zobacz sczegóły</button>
      </div>
    </div>
</div>
