<div class="row">
  <div class="col-md-4 offset-md-4">
    <div class="guest-form-card card">

      <div class="card-header text-center">
        <h2 *ngIf="isEdit; else notEdit">Edytuj kategorię</h2>
        <ng-template #notEdit><h2>Dodaj kategorię</h2></ng-template>
      </div>

      <div class="card-body center">
        <form [formGroup]="form">
          <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Email" formControlName="email">
          </mat-form-field>
          <br>
          <mat-form-field appearance="fill">
            <mat-label>Hasło</mat-label>
            <input matInput placeholder="Hasło" formControlName="password" type="password">
          </mat-form-field>
          <mat-divider></mat-divider><br>
          <!-- <button mat-raised-button color="primary" [disabled]="form.invalid" (click)="onLogin()">Zaloguj się</button> -->
        </form>
      </div>
    </div>
  </div>
</div>
