<div class="row">
    <div class="col-md offset-md">
      <div class="guest-form-card card">
  
        <div class="card-header text-center">
          <h2><strong>Złóż zamówienie</strong></h2>
        </div>
        <div class="text-center">
          <div class="card-body">
            <form [formGroup]="registerForm">
              <div class="form-group">
                <label for="street"><strong>Ulica</strong></label>
                <input
                  id="street"
                  class="form-control"
                  formControlName="street"
                />
              
              </div>

                    <div class="form-group">
                      <label for="number"><strong>Numer</strong></label>
                      <input
                        id="number"
                        class="form-control"
                        formControlName="number"
                      />
                    
                    </div>
    
              <div class="form-group">
              <label for="postalCode"><strong>Kod pocztowy</strong></label>
              <input
                  id="postalCode"
                  class="form-control"
                  formControlName="postalCode"
              />
                
              </div>    

              <div class="form-group">
                  <label for="city"><strong>Miasto</strong></label>
                  <input
                      id="city"
                      class="form-control"
                      formControlName="city"
                  />
                    
              </div>   
    
              <label for="products"><strong>Produkty</strong></label>
              <ul>
                  <li class="list-group-item" *ngFor="let item of data.productArray"> {{ item.name }} x {{item.quantity}}: <strong>{{(item.price *item.quantity) | currency:'PLN' }}</strong></li>
                  <li class="list-group-item" > Suma: <strong>{{ calcCartTotal | currency:'PLN' }}</strong></li>
              </ul>


              <button class="btn btn-primary btn-block" [disabled]="!registerForm.valid" (click)="onOrder()" >Zamów</button>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  