<div class="row">
  <div class="col">
    <mat-card>
      <mat-card-header>

      </mat-card-header>
      <mat-card-content>
        <h2>Czy chcesz anulować rezerwację: {{data.name}}</h2>
        <div class="center">
          <mat-card-actions>
            <!-- <div class="row"> -->
              <!-- <div class="col"> -->
                <button mat-raised-button color="primary" (click)="close()">Nie</button>
              <!-- </div> -->
              <!-- <div class="col"> -->
                <button mat-raised-button color="warn" (click)="save()">Tak</button>
              <!-- </div>
            </div> -->
          </mat-card-actions>
        </div>
      </mat-card-content>

    </mat-card>
  </div>
</div>
