.container{
  margin-top: 2%;
  margin-left: 5%;
  margin-right: 5%;
  min-width: 90%;
  /*height: 93%;*/
}

 .example-container {
  width: 100%;
  /* height: 93%; */
}

.example-sidenav {
  padding: 20px;
}

.spacer {
  flex: 1 1 auto;
}

.button-margin{
  margin-left: 10%;
}

.drawer{
  min-width: 15%;
}


/*
.footer{
  position:fixed;
bottom:0px;
background-color:pink;
width:100%;
}*/
/*
.mat-list-item{
  justify-content: center;
  text-align: center;
}*/
