<!-- przy glownym musi byc normalny znacznik, ng template tyko przy else nic innego -->
<span *ngIf="!isLogged(); else logged">
  <button mat-raised-button [routerLink]="'/login'"><mat-icon>login</mat-icon>Zaloguj</button>
  &nbsp;
  <button mat-raised-button [routerLink]="'/register'"><mat-icon>how_to_reg</mat-icon>Zarejestruj</button>
</span>
<ng-template #logged>
  {{ userService.getName().firstName }}  {{userService.getName().lastName}} &nbsp; &nbsp;
  <button mat-raised-button (click)="logOut()"><mat-icon>logout</mat-icon>Wyloguj</button>
</ng-template>
