<div class="row">
    <div class="col-md offset-md">
      <mat-card>
  
        <mat-card-header class="title-center">
          <mat-card-title><strong>Dane sali</strong></mat-card-title>
        </mat-card-header>
          
        
  
        <div class="text-center">
            <mat-card-content>
              <img class="center" [src]="this.data.imageUrl" width="50%"/><br>
                <div class="row">
                  <div class="col">
                    <div class="form-group"><strong>Nazwa:</strong> {{data.roomItem.name }}</div>
                  </div>
                  <div class="col">
                    <div class="form-group"><strong>Liczba miejsc:</strong> {{data.roomItem.totalMaxPlaces}}</div>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <div class="form-group"><strong>Liczba stołów:</strong> {{data.roomItem.totalMaxTables}}</div>
                  </div>
                  <div class="col">
                    <div class="form-group"><strong>Szerokość:</strong> {{data.roomItem.width}}</div>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <div class="form-group"><strong>Wysokość:</strong> {{data.roomItem.height}}</div>
                  </div>
                  <div class="col">
                    <div class="form-group"><strong>Długość:</strong> {{data.roomItem.length}}</div>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <div class="form-group"><strong>Kategoria:</strong> {{data.roomItem.categoryName}}</div>
                  </div>
                  <div class="col">
                    <div class="form-group"><strong>Opis:</strong> {{data.roomItem.description }}</div>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <div class="form-group"><strong>Cena:</strong> {{data.roomItem.cost | currency:'PLN' }}</div>
                  </div>
                </div>
            </mat-card-content>
        </div>
      </mat-card>
    </div>
  </div>
  