<div class="row">
    <div class="col-md offset-md">
      <div class="guest-form-card card">
  
        <div class="card-header text-center">
          <h2><strong>Dane Produktu</strong></h2>
        </div>
  
        <div class="text-center">
            <div class="card-body">
                <img class="bd-placeholder-img card-img-top p-2" width="100%" [src]="data.product.imageUrl" />
                <div class="form-group"><strong>Nazwa:</strong> {{data.product.name }}</div>
                <div class="form-group"><strong>Opis:</strong> {{data.product.description }}</div>
                <div class="form-group"><strong>Cena:</strong> {{data.product.price | currency:'PLN' }}</div>
            </div>
        </div>
      </div>
    </div>
  </div>
  