<div class="row">
  <div class="col">
    <mat-card>
      <mat-card-header class="text-center">
          <mat-card-title *ngIf="isEdit; else notEdit">Edytuj obsługę</mat-card-title>
          <ng-template #notEdit><mat-card-title>Dodaj obsługę</mat-card-title></ng-template>
      </mat-card-header>
      <mat-card-content class="text-center">
        <form [formGroup]="form">
          <mat-form-field appearance="fill">
            <mat-label>Nazwa</mat-label>
            <input matInput placeholder="Nazwa" formControlName="name">
            <mat-error *ngIf="form.get('name').invalid">Pole jest wymagane</mat-error>
          </mat-form-field>
          <br>
          <mat-form-field appearance="fill">
            <mat-label>Koszt</mat-label>
            <input matInput placeholder="Koszt" formControlName="cost">
            <mat-error *ngIf="form.get('cost').invalid">Pole jest wymagane</mat-error>
          </mat-form-field>
          <br>
          <mat-form-field appearance="fill">
            <mat-label>Opis</mat-label>
            <textarea matInput
                      cdkTextareaAutosize
                      #autosize="cdkTextareaAutosize"
                      cdkAutosizeMinRows="1"
                      cdkAutosizeMaxRows="5"
                      formControlName="description"></textarea>
          <mat-error *ngIf="form.get('description').invalid">Pole jest wymagane</mat-error>
          </mat-form-field>
          <br>
          <mat-checkbox class="example-margin" color="primary">Czy aktywny?</mat-checkbox>
          <br>
          <mat-divider></mat-divider><br>
           <button mat-raised-button color="primary" [disabled]="form.invalid" (click)="save()">Zapisz</button>
        </form>
    </mat-card-content>
    </mat-card>
  </div>
</div>
