<div class="row">
  <div class="col">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Rezerwacja sali <b>{{room.name}}</b></mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form [formGroup]="form">
          <div class="row">
            <div class="col">
              <mat-stepper orientation="vertical" [linear]="isLinear" #stepper>

                    <mat-step>
                        <ng-template matStepLabel>Wpisz nazwę wypożyczenia</ng-template>
                        <mat-form-field appearance="fill">
                          <mat-label>Nazwa</mat-label>
                          <input matInput placeholder="Nazwa wypożyczeani" formControlName="name" required>
                          <mat-error *ngIf="form.get('name').invalid">Pole jest wymagane</mat-error>
                        </mat-form-field>
                        <div>
                          <button mat-raised-button matStepperNext [disabled]="this.form.get('name').invalid">Dalej</button>
                        </div>
                    </mat-step>

                    <mat-step>
                        <ng-template matStepLabel>Podaj liczbę miejsc</ng-template>
                        <mat-form-field appearance="fill">
                          <mat-label>Liczba miejsc</mat-label>
                          <input matInput formControlName="totalPlaces" placeholder="1, 2, 3" type="number"
                                 required>
                          <mat-error *ngIf="form.get('totalPlaces').invalid">Pole jest wymagane</mat-error>
                        </mat-form-field>
                        <div>
                          <button mat-raised-button matStepperPrevious>Wstecz</button>
                          <button mat-raised-button matStepperNext [disabled]="this.form.get('totalPlaces').invalid">Dalej</button>
                        </div>
                    </mat-step>

                    <mat-step>
                      <ng-template matStepLabel>Podaj liczbę stołów</ng-template>
                      <mat-form-field appearance="fill">
                        <mat-label>Liczba stołów</mat-label>
                        <input matInput formControlName="totalTables" placeholder="1, 2, 3" type="number"
                               required>
                        <mat-error *ngIf="form.get('totalTables').invalid">Pole jest wymagane</mat-error>
                      </mat-form-field>
                      <div>
                        <button mat-raised-button matStepperPrevious>Wstecz</button>
                        <button mat-raised-button matStepperNext [disabled]="this.form.get('totalTables').invalid">Dalej</button>
                      </div>
                    </mat-step>


                  <mat-step>
                    <ng-template matStepLabel>Wybierz datę</ng-template>
                    <mat-form-field appearance="fill">
                      <mat-label>Wybierz datę rezerwacji</mat-label>
                      <input matInput [matDatepicker]="picker" [matDatepickerFilter]="dateFilter" formControlName="date">
                      <mat-hint>MM/DD/YYYY</mat-hint>
                      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-datepicker #picker></mat-datepicker>
                      <mat-error *ngIf="form.get('date').invalid">Pole jest wymagane</mat-error>
                    </mat-form-field>
                    <div>
                      <button mat-raised-button matStepperPrevious>Wstecz</button>
                      <button mat-raised-button matStepperNext [disabled]="this.form.get('date').invalid">Dalej</button>
                    </div>
                  </mat-step>

              <!-- Selecty -->
              <mat-step>
                <ng-template matStepLabel>Wybierz dekoracje</ng-template>
                <mat-autocomplete #autoD="matAutocomplete" [displayWith]="displayFnDecoration.bind(this)">
                  <span *ngIf="this.form.get('decorationId').value != null">
                    <mat-option *ngFor="let option of filteredDecorations | async" [value]="option.id">
                      {{option.label}}
                    </mat-option>
                  </span>
                  <span *ngIf="this.form.get('decorationId').value == null" >
                    <mat-option *ngFor="let option of decorations" [value]="option.id">
                      {{option.label}}
                    </mat-option>
                  </span>
                </mat-autocomplete>
                <mat-form-field appearance="fill">
                  <input type="text"
                  placeholder="Wybierz dekoracje"
                  aria-label="Number"
                  matInput
                  formControlName="decorationId"
                  [matAutocomplete]="autoD">
                  <mat-error *ngIf="form.get('decorationId').invalid">Pole jest wymagane</mat-error>
                </mat-form-field>
                <div>
                  <button mat-raised-button matStepperPrevious>Wstecz</button>
                  <button mat-raised-button matStepperNext [disabled]="this.form.get('decorationId').invalid">Dalej</button>
                </div>
              </mat-step>

                <mat-step>
                  <ng-template matStepLabel>Wybierz wyposażenie</ng-template>
                <mat-autocomplete #autoE="matAutocomplete" [displayWith]="displayFnEquipment.bind(this)">
                  <span *ngIf="this.form.get('equipmentId').value != null">
                    <mat-option *ngFor="let option of filteredEquipments | async" [value]="option.id">
                      {{option.label}}
                    </mat-option>
                  </span>
                  <span *ngIf="this.form.get('equipmentId').value == null" >
                    <mat-option *ngFor="let option of equipments" [value]="option.id">
                      {{option.label}}
                    </mat-option>
                  </span>
                </mat-autocomplete>
                <mat-form-field appearance="fill">
                  <input type="text"
                  placeholder="Wybierz wyposażenie"
                  aria-label="Number"
                  matInput
                  formControlName="equipmentId"
                  [matAutocomplete]="autoE">
                  <mat-error *ngIf="form.get('equipmentId').invalid">Pole jest wymagane</mat-error>
                </mat-form-field>
                <div>
                  <button mat-raised-button matStepperPrevious>Wstecz</button>
                  <button mat-raised-button matStepperNext [disabled]="this.form.get('equipmentId').invalid">Dalej</button>
                </div>
                </mat-step>

                <mat-step>
                  <ng-template matStepLabel>Wybierz obsługę</ng-template>
                <mat-autocomplete #autoS="matAutocomplete" [displayWith]="displayFnServices.bind(this)">
                  <span *ngIf="this.form.get('serviceId').value != null">
                    <mat-option *ngFor="let option of filteredServices | async" [value]="option.id">
                      {{option.label}}
                    </mat-option>
                  </span>
                  <span *ngIf="this.form.get('serviceId').value == null" >
                    <mat-option *ngFor="let option of services" [value]="option.id">
                      {{option.label}}
                    </mat-option>
                  </span>
                </mat-autocomplete>
                <mat-form-field appearance="fill">
                  <input type="text"
                  placeholder="Wybierz obsługę"
                  aria-label="Number"
                  matInput
                  formControlName="serviceId"
                  [matAutocomplete]="autoS">
                  <mat-error *ngIf="form.get('serviceId').invalid">Pole jest wymagane</mat-error>
                </mat-form-field>
                <div>
                  <button mat-raised-button matStepperPrevious>Wstecz</button>
                  <button mat-raised-button matStepperNext [disabled]="this.form.get('serviceId').invalid">Dalej</button>
                </div>
                </mat-step>
              <!-- Selecty -->
                <mat-step>
                  <ng-template matStepLabel>Dodaj opis</ng-template>
                  <mat-form-field appearance="fill">
                    <mat-label>Opis</mat-label>
                    <textarea matInput
                              cdkTextareaAutosize
                              #autosize="cdkTextareaAutosize"
                              cdkAutosizeMinRows="1"
                              cdkAutosizeMaxRows="5"
                              formControlName="description"></textarea>
                  <mat-error *ngIf="form.get('description').invalid">Pole jest wymagane</mat-error>
                  </mat-form-field>
                  <div>
                    <button mat-raised-button matStepperPrevious>Wstecz</button>
                    <button mat-raised-button matStepperNext [disabled]="this.form.get('description').invalid">Dalej</button>
                  </div>
                </mat-step>

                <mat-step>
                  <ng-template matStepLabel>Gotowe</ng-template>
                  <p>Zakończyłeś konfigurację sali.</p>
                  <div>
                    <button mat-raised-button matStepperPrevious>Wstecz</button>
                    <button mat-raised-button (click)="stepper.reset()">Zresetuj</button>
                    <button mat-raised-button (click)="save()" [disabled]="form.invalid">Zarezerwuj</button>
                  </div>
                </mat-step>
              </mat-stepper>
            </div>
            <div class="col">
<!-- moze zdjecie sali? -->
              <div class="row">
                <span *ngIf="decorationUrl">
                  <div class="col">
                    Zdjęcie dekoracji<br>
                    <img [src]="decorationUrl" alt="ala" width="300px">
                  </div>
                </span>
              </div>

              <div class="row">
                <span *ngIf="equipmentUrl">
                  <div class="col">
                    Zdjęcie wyposażenia<br>
                    <img [src]="equipmentUrl" alt="ala" width="300px">
                  </div>
                </span>
              </div>

              <div class="row">
                <span *ngIf="serviceDescription">
                  <div class="col">
                    Opis obsługi<br>
                    {{serviceDescription}}
                  </div>
                </span>
              </div>
            </div>
          </div>
        </form>
        <h3>Suma PLN: <b>{{totalCost}}</b></h3>
      </mat-card-content>
    </mat-card>
  </div>
</div>
