<div class="row">
    <div class="col-md-4 offset-md-4">
      <div class="guest-form-card card">
  
        <div class="card-header text-center">
          <h2>Dodaj produkt</h2>
        </div>
  
        <div class="card-body">
          <form [formGroup]="registerForm" (ngSubmit)="addProduct()">
            <div class="form-group">
              <label for="name">Nazwa</label>
              <input
                id="name"
                class="form-control"
                formControlName="name"
              />
             
            </div>
  
            <div class="form-group">
            <label for="desc">Opis</label>
            <input
                id="desc"
                class="form-control"
                formControlName="description"
             />
               
            </div>    

            <div class="form-group">
                <label for="price">Cena</label>
                <input
                    id="price"
                    class="form-control"
                    formControlName="price"
                 />
                   
            </div>   
  
            <div class="form-group">
                <label for="picture">Obraz</label><br>

                <input type="file" id="picture" (change)="upload($event)" accept="*.png.jpg">
            </div>


            <button class="btn btn-primary btn-block" [disabled]="check()" >Dodaj</button>

          </form>
        </div>
      </div>
    </div>
  </div>
  